<div class="design-system">
  <div class="attachment-list">
    <div class="dci dci-attachment">
      <div class="dci-attachment__container">
        <img class="dci-attachment__thumbnail" src="{{ "/assets/img/" | append: "dci-fileupload-thumbnail.png" | prepend: site.github.url }}">
        <img class="dci-attachment__icon" src="{{ "/assets/img/" | append: "dci-fileupload-add.png" | prepend: site.github.url }}">
      </div>
      <div class="dci-attachment__text">
        Attach Photo
      </div>
    </div>
  </div>
</div>