<div class="design-system dci">
  <p class="font-example {{ include.css_classes }}">
    THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
  </p>
  <p class="font-example {{ include.css_classes }}">
    the quick brown fox jumps over the lazy dog
  </p>
  <br><br>
</div>