@import url('https://www.melbourne.vic.gov.au/system/fonts/507562/6077FCBC25F113DD6.css');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "bulma/sass/utilities/_all";
@import "bulma/sass/elements/container";
@import "bulma/sass/elements/table";
@import "bulma/sass/components/navbar";
@import "bulma/sass/grid/columns";
@import "dci-colours";
@import "design-system";
@import "dci-typography";
@import "dci-buttons";
@import "dci-inputs";
@import "dci-layout";



html, body {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial';
    font-size: 14px;
    background-color: $color-light-gray;
    color: $color-carbon-black;
    line-height: 1.5;
    overflow-y: hidden;
    margin: 0;
}

nav.navbar {
  background-color: $color-carbon-black;
  height: $topnavbar-height;  
}

.navbar-item.brand-text {
  font-weight: 300;
}

.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}

.content-columns {
  height: 100%;
  overflow-y: hidden;
  margin-top: 10px !important;
}

.menu,
.main-container {
  height: 100%;
  overflow-y: scroll;
}

.main-container {
  background-color: $color-white;
  padding: 0 2em 2em 2em;
  border: 1px solid $color-silver-gray;
  margin-right: 10px
}

.menu {
	background-color: $color-silver-gray;
  margin-right: 10px !important;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.menu-container {
  margin-bottom: 1em;
}

.menu-section {
  font-size: 14px;
  color: $color-vanta-black;
  background: $color-gray;
  font-weight: 500;
  padding: 0.7em;
  margin: 0;
}

.menu-item,
.menu-item a {  
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.menu-item a {
  font-size: 14px;
  padding: 0.7em 1.4em;
  display: block;
  color: $color-vanta-black;
}

.menu-item a.is-active {
  background-color: $color-primary-blue;
  color: $color-white;
}

.menu-item a.is-active::before {
  content: ">";
}

.menu-item a:hover {
  background-color: $color-white;
  text-decoration: underline;
  color: $color-carbon-black ;
}

.markdown {
  p {
    margin: 0px 0px 10px 0px;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 2.5;
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    color: $color-secondary-blue;
    border-bottom: 2px solid $color-silver-gray;
    margin: 30px 0;
  }

  h2 {
    font-size: 20px;
    color: $color-carbon-black;
    border-bottom: 1px solid $color-silver-gray;
    font-weight: normal;
    margin: 30px 0 25px 0
  }

  h3 {
    font-size: 16px;
    color: $color-carbon-black;
    font-weight: 700;
  }

  h4 {
    font-size: 14px;
    color: $color-carbon-black;
    font-weight: normal;
  }
  img {
    height: auto;
    max-width: 100%;
  }

  a,
  a:hover,
  a:visited {
    color: $color-primary-blue;
    text-decoration: underline;
  }
}

// auto complete
  .autocomplete-suggestions {
    text-align: left; 
    cursor: pointer; 
    border: 1px solid $color-silver-gray; 
    border-top: 0; 
    background: $color-white; 
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    width: 300px;
    
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion { 
  position: relative; 
  padding: 0 .6em; 
  line-height: 23px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 1.02em; 
  color: $color-vanta-black; }
.autocomplete-suggestion b { 
  font-weight: normal; 
  color: $color-primary-blue; 
}
.autocomplete-suggestion.selected { background: $color-light-gray; }

.search-results-container{   
  ul {
      list-style: none; 
  }
  h3{
     font-size: 14px;
     color: $color-primary-blue;
     font-weight: normal;
  }
}

