/* input text. */
.dci-input-text{ 
  
    width: 100%;
    padding: 0 10px;
    color: $color-gray;
    font-weight: 400;
    margin: 10px 0;
    height: 38px;
    border: 1px solid $color-gray;  
}
.dci-input-text:hover{
  border: 1px solid $color-primary-blue;  
}

.dci-input-text.in-error{   
    
    border: 1px solid $color-primary-red;
  
}
.dci-input-text.in-error{   
   
    border: 1px solid $color-primary-red;
  
}
.dci-input-text:focus{
    outline: 1px dotted $color-carbon-black ;
  }

/* Dropdown. */


fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Checkbox. */

.dci-checkboxes legend {
    font-size: 100%;
    font-weight: 700;
    margin-bottom: 25px;
    border-bottom: 0;
}

.dci-checkboxes label {
    display: block !important;
    font-weight: 400;
    width: auto;
    margin-left: 6px;
}

.dci-checkboxes input[type=checkbox] {
    float: left;
    margin-top: 1px;
    margin-left: 0;
}

.dci-checkboxes .checkbox {
    margin-bottom: 22px;
}

/* Radio buttons. */

.dci-radiobuttons .radio-button {
    margin-bottom: 22px;
}

.dci-radiobuttons legend {
    font-size: 100%;
    font-weight: $dci-font-weight-bold;
    margin-bottom: 25px;
    border-bottom: 0;
}

.dci-radiobuttons label {
    display: block !important;
    font-weight: $dci-font-weight-regular;
    width: auto;
    margin-left: 30px;
}

.dci-radiobuttons input[type=radio] {
    float: left;
    margin-top: 1px;
}

.dci-radiobuttons .radio-button {
    margin-bottom: 22px;
}

.dci-radiobuttons .radio-button-extra-details {
    display: block;
}

.dci-radiobuttons .radio-button-accordion-details {
    display: none;
    line-height: 1.25;
}




