//VARIABLES
$topnavbar-height: 50px;//WHITES

//COLORS

$color-white: #FFFFFF;

//PRIMARY
$color-primary-blue: #277BB4;
$color-primary-green: #008850;
$color-primary-red: #E50E56;

//SECONDARY
$color-secondary-blue: #244566;

//GRAYS
$color-light-gray: #F2F3F4;
$color-silver-gray: #D4D6DB;
$color-gray: #989EAB;
$color-medium-gray: #5D616C;
$color-dark-gray: #3C404B;

//BLACKS
$color-vanta-black: #000000;
$color-super-black: #080809;
$color-carbon-black: #23242B;

// BACKGROUND COLOURS
$color-background-blue: #CBE3EF;
$color-background-green: #E1ECC6;
