// Pulled from
// dev01.dev.services.melbourne.vic.gov.au/css/site.css
// dev01.dev.services.melbourne.vic.gov.au/css/dci.report.common.css
.dci-button {
  background-color: $color-primary-blue;
  border-radius: 5px;
  border: 0;
  color: $color-white;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  height: 54px;
  margin: 20px 0 28px 0;
  padding: 0;
  text-align: center;
  width: 180px;
  // TODO: remove after turning bulma off
  -webkit-font-smoothing: initial;
}

.dci-button--disabled {
  cursor: default;
}

.dci-button--primary {
  background-color: $color-primary-red;
}

.dci-button--secondary.dci-button--disabled {
  color: $color-white;
  background-color: $color-background-blue;
}

.dci-button--tertiary {
  background-color: $color-silver-gray;
  color: $color-carbon-black;
}

.dci-button--quarternary {
  background-color: $color-white;
  color: $color-primary-blue;
  border: 1px solid $color-primary-blue;
}

.dci-button--toggle {
  width: 70px;
  background-color: $color-silver-gray;
  color: $color-carbon-black;
}

.dci-button--got-it {
  background-color: $color-background-green;
  background-image: url(/assets/img/dci-checked-yes.png);
  background-position: 90px 12px;
  background-repeat: no-repeat;
  background-size: 30px;
  color: $color-primary-green;
  padding-left: 1em;
  padding-right: 40px;
  text-align: left;
  width: 140px;
}
